*.exe
*.obj
*.ilk
*.pdb
*.exp
*.lib

mac/mx-switch/mx-switch-plan
mac/mx-switch/mx-switch-list
mac/mx-switch/mx-switch-write

screen-switch/smartthings-devices.json
screen-switch/smartthings-monitor-status.json

